*, *::after, *::before{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    justify-content: center;
    border: 2px dashed blue;
    height: 100%;
    margin: 0.5rem;
    position: relative;
}
#right{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
img{
    cursor: not-allowed;
}
.izquierda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}